
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-weight:350;
    letter-spacing:2.5px;
    font-size: 40px;
    
}

.header a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    background: #8AEA92;
    padding: 10px;
    font-weight: 700;
}