header {
   
    width:100%;
    background-color: #519872;
    display:flex;
    justify-content: space-around;
    height: fit-content;
}

header a {
    color:white;
    text-decoration: none;
}

header > * {
    width: 80%;
    padding: 1%;
    margin: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header > * > * {
    margin: 1%;
}

.login {
    width:fit-content;
}
.login > div {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.login > div > * {
    margin:5px;
}